USE [fortunebaydb]
GO
/****** Object:  Table [dbo].[apuestas]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[juego_id] [int] NULL,
	[monto] [decimal](12, 2) NULL,
	[resultado] [nvarchar](20) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[areas]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditoria_eventos]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria_eventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[empleado_id] [int] NULL,
	[accion] [nvarchar](100) NULL,
	[entidad] [nvarchar](50) NULL,
	[entidad_id] [int] NULL,
	[antes_json] [nvarchar](max) NULL,
	[despues_json] [nvarchar](max) NULL,
	[motivo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora_accesos]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora_accesos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NULL,
	[fecha] [datetime] NULL,
	[resultado] [nvarchar](20) NULL,
	[detalle] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[caja_sesiones]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja_sesiones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caja_id] [int] NULL,
	[empleado_id] [int] NULL,
	[apertura_fecha] [datetime] NULL,
	[cierre_fecha] [datetime] NULL,
	[fondo_inicial] [decimal](12, 2) NULL,
	[fondo_final] [decimal](12, 2) NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cajas]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[fecha_nac] [date] NULL,
	[documento] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conceptos_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos_caja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[naturaleza] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado_rol]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado_rol](
	[empleado_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[hash_password] [nvarchar](255) NOT NULL,
	[estado] [bit] NULL,
	[fecha_alta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juegos]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juegos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[tipo] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos_caja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caja_sesion_id] [int] NULL,
	[concepto_id] [int] NULL,
	[tipo] [nvarchar](10) NULL,
	[monto] [decimal](12, 2) NULL,
	[metodo_pago_id] [int] NULL,
	[fecha] [datetime] NULL,
	[empleado_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos_saldo_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos_saldo_cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[tipo] [nvarchar](20) NULL,
	[monto] [decimal](12, 2) NULL,
	[fecha] [datetime] NULL,
	[referencia] [nvarchar](50) NULL,
	[apuesta_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permisos]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_permiso]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_permiso](
	[rol_id] [int] NOT NULL,
	[permiso_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sesiones_empleados]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesiones_empleados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[tiempo_total_minutos] [int] NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[apuestas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[auditoria_eventos] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[bitacora_accesos] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[caja_sesiones] ADD  DEFAULT (getdate()) FOR [apertura_fecha]
GO
ALTER TABLE [dbo].[caja_sesiones] ADD  DEFAULT ('ABIERTA') FOR [estado]
GO
ALTER TABLE [dbo].[cajas] ADD  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[metodos_pago] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[movimientos_caja] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[movimientos_saldo_cliente] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[sesiones_empleados] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[apuestas]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[apuestas]  WITH CHECK ADD FOREIGN KEY([juego_id])
REFERENCES [dbo].[juegos] ([id])
GO
ALTER TABLE [dbo].[auditoria_eventos]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[bitacora_accesos]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[caja_sesiones]  WITH CHECK ADD FOREIGN KEY([caja_id])
REFERENCES [dbo].[cajas] ([id])
GO
ALTER TABLE [dbo].[caja_sesiones]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[empleado_rol]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[empleado_rol]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[movimientos_caja]  WITH CHECK ADD FOREIGN KEY([caja_sesion_id])
REFERENCES [dbo].[caja_sesiones] ([id])
GO
ALTER TABLE [dbo].[movimientos_caja]  WITH CHECK ADD FOREIGN KEY([concepto_id])
REFERENCES [dbo].[conceptos_caja] ([id])
GO
ALTER TABLE [dbo].[movimientos_caja]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[movimientos_caja]  WITH CHECK ADD FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[metodos_pago] ([id])
GO
ALTER TABLE [dbo].[movimientos_saldo_cliente]  WITH CHECK ADD FOREIGN KEY([apuesta_id])
REFERENCES [dbo].[apuestas] ([id])
GO
ALTER TABLE [dbo].[movimientos_saldo_cliente]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD FOREIGN KEY([permiso_id])
REFERENCES [dbo].[permisos] ([id])
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[conceptos_caja]  WITH CHECK ADD CHECK  (([naturaleza]='EGRESO' OR [naturaleza]='INGRESO'))
GO
ALTER TABLE [dbo].[movimientos_caja]  WITH CHECK ADD CHECK  (([tipo]='EGRESO' OR [tipo]='INGRESO'))
GO
/****** Object:  StoredProcedure [dbo].[sp_abrir_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_abrir_caja]
    @caja_id INT,
    @empleado_id INT,
    @fondo_inicial DECIMAL(12,2)
AS
BEGIN
    INSERT INTO caja_sesiones (caja_id, empleado_id, fondo_inicial)
    VALUES (@caja_id, @empleado_id, @fondo_inicial);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_activar_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_activar_empleado]
    @empleado_id INT
AS
BEGIN
    UPDATE empleados
    SET estado = 1
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_asignar_rol_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_asignar_rol_empleado]
    @empleado_id INT,
    @rol_id INT
AS
BEGIN
    INSERT INTO empleado_rol (empleado_id, rol_id)
    VALUES (@empleado_id, @rol_id);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_apuesta_por_id]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_apuesta_por_id]
    @apuesta_id INT
AS
BEGIN
    SELECT
        a.id,
        c.nombre AS cliente,
        j.nombre AS juego,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN clientes c ON a.cliente_id = c.id
    INNER JOIN juegos j ON a.juego_id = j.id
    WHERE a.id = @apuesta_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_apuestas_por_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_apuestas_por_cliente]
    @cliente_id INT
AS
BEGIN
    -- Validar cliente existente
    IF NOT EXISTS (
        SELECT 1 FROM clientes WHERE id = @cliente_id
    )
    BEGIN
        RAISERROR('El cliente no existe', 16, 1);
        RETURN;
    END

    -- Consultar apuestas del cliente
    SELECT 
        a.id AS apuesta_id,
        j.nombre AS juego,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN juegos j ON a.juego_id = j.id
    WHERE a.cliente_id = @cliente_id
    ORDER BY a.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_apuestas_por_fecha]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_apuestas_por_fecha]
    @fecha_inicio DATETIME,
    @fecha_fin DATETIME
AS
BEGIN
    SELECT
        a.id,
        c.nombre AS cliente,
        j.nombre AS juego,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN clientes c ON a.cliente_id = c.id
    INNER JOIN juegos j ON a.juego_id = j.id
    WHERE a.fecha BETWEEN @fecha_inicio AND @fecha_fin
    ORDER BY a.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_apuestas_por_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_apuestas_por_juego]
    @juego_id INT
AS
BEGIN
    SELECT
        a.id,
        c.nombre AS cliente,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN clientes c ON a.cliente_id = c.id
    WHERE a.juego_id = @juego_id
    ORDER BY a.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_cliente_por_documento]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_cliente_por_documento]
    @documento NVARCHAR(50)
AS
BEGIN
    SELECT
        id,
        nombre,
        fecha_nac,
        documento,
        telefono,
        email,
        estatus
    FROM clientes
    WHERE documento = @documento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_cliente_por_id]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_cliente_por_id]
    @cliente_id INT
AS
BEGIN
    SELECT 
        id,
        nombre,
        fecha_nac,
        documento,
        telefono,
        email,
        estatus
    FROM clientes
    WHERE id = @cliente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_cliente_por_nombre]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_cliente_por_nombre]
    @nombre NVARCHAR(100)
AS
BEGIN
    SELECT 
        id,
        nombre,
        fecha_nac,
        documento,
        telefono,
        email,
        estatus
    FROM clientes
    WHERE nombre LIKE '%' + @nombre + '%'
    ORDER BY nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_empleado_nombre_ususario]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_empleado_nombre_ususario]
    @texto NVARCHAR(100)
AS
BEGIN
    SELECT
        id,
        nombre,
        usuario,
        estado
    FROM empleados
    WHERE nombre LIKE '%' + @texto + '%'
       OR usuario LIKE '%' + @texto + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_empleado_por_id]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_empleado_por_id]
    @empleado_id INT
AS
BEGIN
    SELECT
        id,
        nombre,
        usuario,
        estado,
        fecha_alta
    FROM empleados
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_juego_por_id]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_juego_por_id]
    @juego_id INT
AS
BEGIN
    SELECT 
        id,
        nombre,
        tipo
    FROM juegos
    WHERE id = @juego_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_juegos_por_nombre]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_juegos_por_nombre]
    @nombre NVARCHAR(50)
AS
BEGIN
    SELECT 
        id,
        nombre,
        tipo
    FROM juegos
    WHERE nombre LIKE '%' + @nombre + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_juegos_por_tipo]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_juegos_por_tipo]
    @tipo NVARCHAR(30)
AS
BEGIN
    SELECT 
        id,
        nombre,
        tipo
    FROM juegos
    WHERE tipo = @tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cambiar_estado_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cambiar_estado_cliente]
    @cliente_id INT,
    @estatus BIT -- 1 = Activo, 0 = Inactivo
AS
BEGIN
    UPDATE clientes
    SET estatus = @estatus
    WHERE id = @cliente_id;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_cambiar_password]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cambiar_password]
    @empleado_id INT,
    @nuevo_hash NVARCHAR(255)
AS
BEGIN
    UPDATE empleados
    SET hash_password = @nuevo_hash
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cerrar_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cerrar_caja]
    @caja_sesion_id INT,
    @fondo_final DECIMAL(12,2)
AS
BEGIN
    UPDATE caja_sesiones
    SET cierre_fecha = GETDATE(),
        fondo_final = @fondo_final,
        estado = 'CERRADA'
    WHERE id = @caja_sesion_id;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_cerrar_sesion]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_cerrar_sesion]
    @sesion_id INT
AS
BEGIN
    DECLARE @inicio DATETIME;
    
    SELECT @inicio = fecha_inicio
    FROM sesiones_empleados
    WHERE id = @sesion_id;

    UPDATE sesiones_empleados
    SET fecha_fin = GETDATE(),
        tiempo_total_minutos = DATEDIFF(MINUTE, @inicio, GETDATE()),
        estado = 'CERRADA'
    WHERE id = @sesion_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_desactivar_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_desactivar_empleado]
    @empleado_id INT
AS
BEGIN
    UPDATE empleados
    SET estado = 0
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_apuesta]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_apuesta]
    @apuesta_id INT,
    @juego_id INT,
    @monto DECIMAL(12,2),
    @resultado NVARCHAR(20)
AS
BEGIN
    -- Validar que la apuesta exista
    IF NOT EXISTS (
        SELECT 1 FROM apuestas WHERE id = @apuesta_id
    )
    BEGIN
        RAISERROR('La apuesta no existe', 16, 1);
        RETURN;
    END

    UPDATE apuestas
    SET 
        juego_id = @juego_id,
        monto = @monto,
        resultado = @resultado
    WHERE id = @apuesta_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_cliente]
    @id INT,
    @nombre NVARCHAR(100),
    @fecha_nac DATE,
    @documento NVARCHAR(50),
    @telefono NVARCHAR(20),
    @email NVARCHAR(100),
    @estatus BIT
AS
BEGIN
    UPDATE clientes
    SET 
        nombre = @nombre,
        fecha_nac = @fecha_nac,
        documento = @documento,
        telefono = @telefono,
        email = @email,
        estatus = @estatus
    WHERE id = @id;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_editar_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_empleado]
    @empleado_id INT,
    @nombre NVARCHAR(100),
    @usuario NVARCHAR(50)
AS
BEGIN
    UPDATE empleados
    SET nombre = @nombre,
        usuario = @usuario
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_juego]
    @juego_id INT,
    @nombre NVARCHAR(50),
    @tipo NVARCHAR(30)
AS
BEGIN
    UPDATE juegos
    SET nombre = @nombre,
        tipo = @tipo
    WHERE id = @juego_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_apuesta]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_apuesta]
    @apuesta_id INT
AS
BEGIN
    DELETE FROM apuestas
    WHERE id = @apuesta_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_cliente]
    @id INT
AS
BEGIN
    DELETE FROM clientes
    WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_empleado]
    @empleado_id INT
AS
BEGIN
    DELETE FROM empleados
    WHERE id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_juego]
    @juego_id INT
AS
BEGIN
    DELETE FROM juegos
    WHERE id = @juego_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_estadisticas_apuestas_por_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_estadisticas_apuestas_por_juego]
AS
BEGIN
    SELECT
        j.nombre AS juego,
        COUNT(a.id) AS total_apuestas,
        SUM(a.monto) AS monto_total
    FROM apuestas a
    INNER JOIN juegos j ON a.juego_id = j.id
    GROUP BY j.nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_historial_apuestas_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_historial_apuestas_cliente]
    @cliente_id INT
AS
BEGIN
    SELECT
        a.id AS apuesta_id,
        j.nombre AS juego,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN juegos j ON a.juego_id = j.id
    WHERE a.cliente_id = @cliente_id
    ORDER BY a.fecha DESC;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ingresar_apuesta]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ingresar_apuesta]
    @cliente_id INT,
    @juego_id INT,
    @monto DECIMAL(12,2)
AS
BEGIN
    -- Validar cliente activo
    IF NOT EXISTS (
        SELECT 1 FROM clientes 
        WHERE id = @cliente_id AND estatus = 1
    )
    BEGIN
        RAISERROR('El cliente no está activo', 16, 1);
        RETURN;
    END

    -- Validar saldo suficiente
    DECLARE @saldo_actual DECIMAL(12,2);

    SELECT @saldo_actual = ISNULL(SUM(monto), 0)
    FROM movimientos_saldo_cliente
    WHERE cliente_id = @cliente_id;

    IF @saldo_actual < @monto
    BEGIN
        RAISERROR('Saldo insuficiente', 16, 1);
        RETURN;
    END

    -- Registrar apuesta
    INSERT INTO apuestas (cliente_id, juego_id, monto, resultado)
    VALUES (@cliente_id, @juego_id, @monto, 'pendiente');

    -- Registrar movimiento de saldo
    INSERT INTO movimientos_saldo_cliente
    (cliente_id, tipo, monto, referencia)
    VALUES
    (@cliente_id, 'apuesta', -@monto, 'Registro de apuesta');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_iniciar_sesion]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_iniciar_sesion]
    @empleado_id INT
AS
BEGIN
    INSERT INTO sesiones_empleados (empleado_id, fecha_inicio)
    VALUES (@empleado_id, GETDATE());
    
    SELECT SCOPE_IDENTITY() AS sesion_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_apuestas]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_apuestas]
AS
BEGIN
    SELECT
        a.id,
        c.nombre AS cliente,
        j.nombre AS juego,
        a.monto,
        a.resultado,
        a.fecha
    FROM apuestas a
    INNER JOIN clientes c ON a.cliente_id = c.id
    INNER JOIN juegos j ON a.juego_id = j.id
    ORDER BY a.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_auditoria]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_listar_auditoria]
AS
BEGIN
    SELECT *
    FROM auditoria_eventos
    ORDER BY fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_clientes]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_clientes]
AS
BEGIN
    SELECT 
        id,
        nombre,
        fecha_nac,
        documento,
        telefono,
        email,
        estatus
    FROM clientes
    ORDER BY nombre;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_listar_empleados]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_empleados]
AS
BEGIN
    SELECT
        id,
        nombre,
        usuario,
        estado,
        fecha_alta
    FROM empleados
    ORDER BY nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_juegos]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_juegos]
AS
BEGIN
    SELECT 
        id,
        nombre,
        tipo
    FROM juegos
    ORDER BY nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_sesiones]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_listar_sesiones]
AS
BEGIN
    SELECT s.id,
           e.nombre,
           s.fecha_inicio,
           s.fecha_fin,
           s.tiempo_total_minutos,
           s.estado
    FROM sesiones_empleados s
    INNER JOIN empleados e ON s.empleado_id = e.id
    ORDER BY s.fecha_inicio DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_login_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_login_empleado]
    @usuario NVARCHAR(50),
    @password NVARCHAR(255)
AS
BEGIN
    SELECT id, nombre, estado
    FROM empleados
    WHERE usuario = @usuario
      AND hash_password = @password
      AND estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_movimiento_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_movimiento_caja]
    @caja_sesion_id INT,
    @concepto_id INT,
    @tipo NVARCHAR(10),
    @monto DECIMAL(12,2),
    @metodo_pago_id INT,
    @empleado_id INT
AS
BEGIN
    INSERT INTO movimientos_caja
    (caja_sesion_id, concepto_id, tipo, monto, metodo_pago_id, empleado_id)
    VALUES
    (@caja_sesion_id, @concepto_id, @tipo, @monto, @metodo_pago_id, @empleado_id);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_movimiento_saldo_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_movimiento_saldo_cliente]
    @cliente_id INT,
    @tipo NVARCHAR(20),
    @monto DECIMAL(12,2),
    @referencia NVARCHAR(50)
AS
BEGIN
    INSERT INTO movimientos_saldo_cliente
    (cliente_id, tipo, monto, referencia)
    VALUES
    (@cliente_id, @tipo, @monto, @referencia);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_pagar_apuesta_ganada]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_pagar_apuesta_ganada]
    @apuesta_id INT,
    @cliente_id INT,
    @monto DECIMAL(12,2)
AS
BEGIN
    -- Validar que la apuesta exista y sea ganadora
    IF NOT EXISTS (
        SELECT 1
        FROM apuestas
        WHERE id = @apuesta_id
          AND resultado = 'GANADO'
    )
    BEGIN
        RAISERROR('La apuesta no existe o no es ganadora', 16, 1);
        RETURN;
    END

    -- Registrar movimiento de saldo (PREMIO)
    INSERT INTO movimientos_saldo_cliente
        (cliente_id, tipo, monto, referencia)
    VALUES
        (@cliente_id, 'PREMIO', @monto, CONCAT('APUESTA_', @apuesta_id));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_quitar_rol_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_quitar_rol_empleado]
    @empleado_id INT,
    @rol_id INT
AS
BEGIN
    DELETE FROM empleado_rol
    WHERE empleado_id = @empleado_id
      AND rol_id = @rol_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_apuesta]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_apuesta]
    @cliente_id INT,
    @juego_id INT,
    @monto DECIMAL(12,2),
    @resultado NVARCHAR(20)
AS
BEGIN
    INSERT INTO apuestas (cliente_id, juego_id, monto, resultado)
    VALUES (@cliente_id, @juego_id, @monto, @resultado);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_auditoria]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_auditoria]
    @empleado_id INT,
    @accion NVARCHAR(100),
    @entidad NVARCHAR(50),
    @entidad_id INT,
    @antes_json NVARCHAR(MAX),
    @despues_json NVARCHAR(MAX),
    @motivo NVARCHAR(255)
AS
BEGIN
    INSERT INTO auditoria_eventos
    (empleado_id, accion, entidad, entidad_id, antes_json, despues_json, motivo)
    VALUES
    (@empleado_id, @accion, @entidad, @entidad_id, @antes_json, @despues_json, @motivo);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_cliente]
    @nombre NVARCHAR(100),
    @fecha_nac DATE,
    @documento NVARCHAR(50),
    @telefono NVARCHAR(20),
    @email NVARCHAR(100),
    @estatus BIT
AS
BEGIN
    INSERT INTO clientes (nombre, fecha_nac, documento, telefono, email, estatus)
    VALUES (@nombre,@fecha_nac, @documento, @telefono, @email, @estatus);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_egreso_caja_premio]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_egreso_caja_premio]
    @caja_sesion_id INT,
    @concepto_id INT, -- concepto = 'Pago premio'
    @monto DECIMAL(12,2),
    @empleado_id INT,
    @metodo_pago_id INT
AS
BEGIN
    INSERT INTO movimientos_caja
    (caja_sesion_id, concepto_id, tipo, monto, metodo_pago_id, empleado_id)
    VALUES
    (@caja_sesion_id, @concepto_id, 'EGRESO', @monto, @metodo_pago_id, @empleado_id);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_empleado]
    @nombre NVARCHAR(100),
    @usuario NVARCHAR(50),
    @hash_password NVARCHAR(255)
AS
BEGIN
    INSERT INTO empleados (nombre, usuario, hash_password)
    VALUES (@nombre, @usuario, @hash_password);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_juego]
    @nombre NVARCHAR(50),
    @tipo NVARCHAR(30)
AS
BEGIN
    INSERT INTO juegos (nombre, tipo)
    VALUES (@nombre, @tipo);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_apuestas_por_juego]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_reporte_apuestas_por_juego]
AS
BEGIN
    SELECT 
        j.nombre AS juego,
        COUNT(a.id) AS total_apuestas,
        SUM(a.monto) AS monto_total
    FROM apuestas a
    JOIN juegos j ON a.juego_id = j.id
    GROUP BY j.nombre;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_movimientos_caja]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_reporte_movimientos_caja]
AS
BEGIN
    SELECT 
        cc.nombre AS concepto,
        mc.tipo,
        SUM(mc.monto) AS total
    FROM movimientos_caja mc
    JOIN conceptos_caja cc ON mc.concepto_id = cc.id
    GROUP BY cc.nombre, mc.tipo;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_roles_por_empleado]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_roles_por_empleado]
    @empleado_id INT
AS
BEGIN
    SELECT r.nombre
    FROM roles r
    JOIN empleado_rol er ON r.id = er.rol_id
    WHERE er.empleado_id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_saldo_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_saldo_cliente]
    @cliente_id INT
AS
BEGIN
    SELECT ISNULL(SUM(monto),0) AS saldo_actual
    FROM movimientos_saldo_cliente
    WHERE cliente_id = @cliente_id;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_total_apostado_cliente]    Script Date: 17/02/2026 11:31:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_total_apostado_cliente]
    @cliente_id INT
AS
BEGIN
    SELECT 
        c.nombre,
        SUM(a.monto) AS total_apostado
    FROM apuestas a
    INNER JOIN clientes c ON a.cliente_id = c.id
    WHERE a.cliente_id = @cliente_id
    GROUP BY c.nombre;
END;
GO
